<form method="POST" action="{{ url }}">
    <input type="hidden" name="InterfaceVersion" value="IR_WS_2.19" />
    <input type="hidden" name="Data" value="{{ build }}" />
    <input type="hidden" name="Seal" value="{{ seal }}" />
    <input type="submit" value="Payer" />
</form>
