<form method="POST" action="{{ initializationData.redirectionUrl }}">
    <input type="hidden" name="redirectionVersion" value="{{ initializationData.redirectionVersion }}" />
    <input type="hidden" name="redirectionData" value="{{ initializationData.redirectionData }}" />
    <input type="submit" value="Payer" />
</form>
