<form method="POST" action="{{ url }}">
    <input type="hidden" name="InterfaceVersion" value="HP_2.9" />
    <input type="hidden" name="Data" value="{{ build }}" />
    <input type="hidden" name="Seal" value="{{ seal }}" />
    <input type="submit" value="Payer" />
</form>
