<form method="POST" action="{{ initializationData.url }}">
    <input type="hidden" name="InterfaceVersion" value="{{ initializationData.interfaceVersion }}" />
    <input type="hidden" name="Data" value="{{ initializationData.build }}" />
    <input type="hidden" name="Seal" value="{{ initializationData.seal }}" />
    <input type="submit" value="Payer" />
</form>
