<form method="post" name="PaymentForm" action="{{ url }}">
    {% for fieldName, fieldValue in initializationData %}
        <input type="hidden" name="{{ fieldName }}" value="{{ fieldValue }}"/>
    {% endfor %}
</form>
