<form method="post" action="https://ogone.test.v-psp.com/ncol/test/orderstandard_utf8.asp" id=form1 name=form1>
<!-- URL de TEST = https://ogone.test.v-psp.com/ncol/test/orderstandard_utf8.asp -->
<!-- URL de PROD = https://secure.ogone.com/ncol/prod/orderstandard_utf8.asp -->

<!-- paramètres généraux : voir Paramètres de formulaire -->

<input type="hidden" name="PSPID" value=""> <!-- Nom d'affiliation -->
<input type="hidden" name="ORDERID" value="{{ transaction.id }}">
<input type="hidden" name="AMOUNT" value="{{ transaction.ammount }}">
<input type="hidden" name="CURRENCY" value="{{ transaction.currencyCode }}">
<input type="hidden" name="LANGUAGE" value=""> <!-- Langue du client -->
<input type="hidden" name="CN" value="">
<input type="hidden" name="EMAIL" value="{% if transaction.customerEmail is not null %}{{transaction.customerEmail}}{% endif %}">
<input type="hidden" name="OWNERADDRESS" value=""> <!-- Adresse du client -->
<input type="hidden" name="OWNERZIP" value=""> <!-- Code postal du client -->
<input type="hidden" name="OWNERTOWN" value=""> <!-- Ville du client -->
<input type="hidden" name="OWNERCTY" value=""> <!-- Pays du client -->
<input type="hidden" name="OWNERTELNO" value=""> <!-- Téléphone du client -->


<!-- vérification avant le paiement : voir Sécurité : vérification avant le paiement -->


<input type="hidden" name="SHASIGN" value="">

<!-- apparence et impression: voir Apparence de la page de paiement -->

<input type="hidden" name="TITLE" value="">
<input type="hidden" name="BGCOLOR" value="">
<input type="hidden" name="TXTCOLOR" value="">
<input type="hidden" name="TBLBGCOLOR" value="">
<input type="hidden" name="TBLTXTCOLOR" value="">
<input type="hidden" name="BUTTONBGCOLOR" value="">
<input type="hidden" name="BUTTONTXTCOLOR" value="">
<input type="hidden" name="LOGO" value="">
<input type="hidden" name="FONTTYPE" value="">

<!-- redirection après la transaction : voir Feedback au client sur la transaction -->

<input type="hidden" name="ACCEPTURL" value="">
<input type="hidden" name="DECLINEURL" value="">
<input type="hidden" name="EXCEPTIONURL" value="">
<input type="hidden" name="CANCELURL" value="">

<input type="submit" value="" id=submit2 name=submit2>

</form>
