<form method="GET" action="{{ initializationData.url }}">
    {% for name, value in initializationData.options %}
        <input type="hidden" name="{{ name }}" value="{{ value }}" />
    {% endfor %}
    <input type="submit" value="Payer">
</form>
