<form method="POST" action="{{ initializationData.url }}">
    {% for name, value in initializationData.options %}
        <input type="hidden" name="{{ name }}" value="{{ value }}" />
    {% endfor %}
    <input type="submit"  name="payer" value="Payer">
</form>