<h1>Please wait </h1>
<div id="statusContainer"></div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var nextBtn = document.querySelector('.idci_step_navigation_next'); // on les cache

        nextBtn.hidden = true;

        var maxAttempt = 25;

        var endAttempt = function () {
            if (--maxAttempt > 0) {
                setTimeout(function () {
                    getTransaction(endAttempt);
                }, 2000)

            } else {
                document.querySelector('#statusContainer').innerText = '{{ errorMessage }}';
            }
        }

        var getTransaction = function (callback) {
            $.get('{{ path('idci_payment_api_apitransaction_show', {'id': transaction.id}) }}', function (result) {
                if (result.status === '{{ constant('IDCI\\Bundle\\PaymentBundle\\Payment\\PaymentStatus::STATUS_PENDING') }}') {
                    callback();
                } else {
                    // show success message
                    document.querySelector('#statusContainer').innerText = '{{ successMessage }}';
                    nextBtn.hidden = false
                }
            });
        }

        getTransaction(endAttempt);
    });
</script>
