<h1>Please wait </h1>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var maxAttempt = 10;

        var endAttempt = function () {
            if (--maxAttempt > 0) {
                setTimeout(function () {
                    getTransaction(endAttempt);
                }, 1000)

            } else {
                location.href = '{{ fail_url }}'.replace(/&amp;/g, '&');;
            }
        }

        var getTransaction = function (callback) {
            $.get('{{ path('idci_payment_api_apitransaction_show', {'id': transaction.id}) }}', function (result) {
                if (result.status === '{{ constant('IDCI\\Bundle\\PaymentBundle\\Payment\\PaymentStatus::STATUS_PENDING') }}') {
                    callback();
                } else {
                    location.href = '{{ success_url }}'.replace(/&amp;/g, '&');;
                }
            });
        }

        getTransaction(endAttempt);
    });
</script>
